.navbar{
  background:#000000 !important ;
  .nav-item{
  padding-left:1em !important ;
  
  }
}
.carousel-item{
  height: 450px;
}
.carousel-img-1{
  background-image:url("../img/image1.jpeg") ;
  background-size: cover;
}
.carousel-img-2{
  background-image:url("../img/image2.jpeg") ;
  background-size: cover;
}
.carousel-img-3{
  background-image:url("../img/image3.jpeg") ;
  background-size: cover;
}

#home-icon{
  .fa{
    font-size: 50px;
  }
}
#get-started{
  position: relative;
  background: url(../img/bg1.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height:250px;
  
  .dark-overlay{
    background: #3C3C3D;
    opacity: .8;
    position: absolute;
    
    top:0;
    left:0;
    width:100%;
    height: 100%;

  }
}
#home-video{
  position: relative;
  background: url(../img/people.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height:250px;
  
  .dark-overlay{
    background: #3C3C3D;
    opacity: .8;
    position: absolute;
    
    top:0;
    left:0;
    width:100%;
    height: 100%;
    
    .fa{
      font-size: 50px;
    }
    

  }
}
#home-galary{
  img{
    min-height: 200px;
  }

}
#copyright{
  background-color: #000000;
}
#about_header{
  background: url('../img/image1.jpeg');
  background-size: cover;
  min-height: 200px;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#about_info{
  img{
   min-height: 350px;
   width:350px;
  }
}
#card_section{
  .fa{
    font-size: 50px;
    padding:20px;

  
  }
}
#testimonial{
  .slick-next::before{
    color:black
  }
  .slick-prev::before{
    color:black
  }

}
#service_header{
  background: url('../img/image1.jpeg');
  background-size: cover;
  min-height: 200px;
  background-attachment: fixed;
  background-repeat: no-repeat;
}


@media(max-width:480px){
  #showcase{
    h2{
      font-size: 35px;
    }
  }
}